<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
{{# if condition }}
    condition is met
{{ else }}
    condition not met
{{/if}}

{{# each anyArr as |val key|}}
    {{ key }}: {{ val }}
{{/each}}

<!--
<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>
-->
{{# if success}} 
    <section class="success">
        <h2>successful validation</h2>
    </section>
{{ else }}
    {{# if errors}}
        <section class="errors">
        <ul>
            {{#each errors}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
        </section>
    {{/if}}
<form action="/submit" method="post">
    <div class="input">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <div class="input">
        <label for="password">pwd</label>
        <input type="text" id="password" name="password">
    </div>
    <div class="input">
        <label for="confirmPassword">confirm pwd</label>
        <input type="text" id="confirmPassword" name="confirmPassword">
    </div>

    <button type="submit">signup</button>
</form>
{{/if}}